sebm-google-map
{
    margin-top: 20px;
}
.sebm-google-map-container
{
    height: 300px;
}

.form-inline
{
    margin-top: 20px;
}

input[type=number]
{
    width: 80px;
}

button>img
{
    width: 24px;
    height: 25px;
}

#mapTitle
{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.hidden
{
    display: none;
}

#imgPos
{
    width   : 20px;
    height  : 20px;
}

#position
{
    float: right;
    padding-top: 20px;
}

#fRadius
{
    display: inline-block;
}

.btn-addToApp
{
    display: block;
    font-size: 13px;
    padding: 5px 8px;
}

.btn-addToApp .glyphicon-plus-sign
{
    color: green;
}

.fa-spinner
{
    color: red;
}