<div class="header">

    <button id="back" type="button" class="btn btn-primary" (click)="navigate('/bars')">Back</button>
    <!-- IF !isModif -->
    <button *ngIf="!isModif" id="modify" type="button" class="btn btn-danger" (click)="modMode(true)">Modify</button>

    <!-- IF !isModif -->
    <button *ngIf="isModif" id="modify" type="button" class="btn btn-success" (click)="modify()">Validate</button>
    <button *ngIf="isModif" id="cancelModif" type="button" class="btn btn-danger" (click)="modMode(false)">Cancel</button>

    <h2>Bar Details</h2>
</div>
<div *ngIf="bar">
    <div class="mainContent">
        <div class="barInfoLine">
            <span class="barInfoLabel">Nom:</span>
            <span *ngIf="!isModif" class="value">{{bar.name}}</span>
            <!-- <input *ngIf="isModif" class="value" type="text" value="{{bar.name}}"> -->
            <input *ngIf="isModif" class="value" type="text" [(ngModel)]="bar.name">
        </div>
        <div class="barInfoLine">
            <span class="barInfoLabel">Adresse:</span>
            <span *ngIf="!isModif" class="value">{{bar.address}}</span>
            <input *ngIf="isModif" class="value" type="text" [(ngModel)]="bar.address">
        </div>
        <div class="barInfoLine">
            <span class="barInfoLabel">Ville:</span>
            <span *ngIf="!isModif" class="value">{{bar.city}}</span>
            <input *ngIf="isModif" class="value" type="text" [(ngModel)]="bar.city">
        </div>
        <!--<div class="barInfoLine">-->
            <!--<span class="barInfoLabel">Code Postal:</span>-->
            <!--<span class="value">{{bar.id}}</span>-->
        <!--</div>-->
        <div class="barInfoLine">
            <span class="barInfoLabel">Description:</span>
            <span *ngIf="!isModif" class="value">{{bar.description}}</span>
            <input *ngIf="isModif" class="value" type="text" [(ngModel)]="bar.description">            
        </div>

        <div *ngIf="!isModif" class="barBeers">
            <h4>Bières du bar</h4>

            <div *ngIf="bar.listBeer.length !== 0">
                <table class="table table-striped table-hover" >
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Degré</th>
                    </tr>
                    <!--<tr >-->
                    <tr *ngFor="let beer of bar.listBeer">
                        <td>{{beer.name}}</td>
                        <td>Blonde</td>
                        <td>{{beer.degree}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <!--<a routerLink="/beer/create">-->
                            <a (click)="gotoCreateBeer()">
                                <span class="glyphicon glyphicon-plus add" ></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="bar.listBeer.length === 0">
                <span>Aucune bière dans ce bar...</span>
                <a (click)="gotoCreateBeer()">
                    <span class="glyphicon glyphicon-plus add" ></span>
                </a>
            </div>
        </div>
    </div>
</div>