<div class="header">

    <!-- back on right button -->
    <button id="back" type="button" class="btn btn-primary" (click)="navigate('/bars')">Back</button>
    <h2 id="">Ajout d'un bar</h2>
</div>


<div *ngIf="showError" class="alert alert-danger">
    Une erreur est survenue.
</div>

<div class="mainContent">

    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="nom">Nom:</label>
                <div class="col-sm-10">
                    <input #namee id="nom"  type="text" class="form-control" placeholder="Enter nom">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="ville">Ville:</label>
                <div class="col-sm-10">
                    <input #villee id="ville"  type="text" class="form-control" placeholder="Enter city">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="control-label col-sm-2" for="ville">Ville:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input #city id="ville" type="text" class="form-control" placeholder="Enter ville">-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" (click)="save(namee.value, villee.value)">Submit</button>
                    <button type="button" class="btn btn-default" (click)="navigate('/bars')">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>