<div class="header">

    <!-- back on right button -->
    <button id="back" type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    <h2 id="">Ajout d'une bière</h2>
</div>

<div class="mainContent">

    <div *ngIf="beer">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="nom">Nom:</label>
                <div class="col-sm-10">
                    <input #name id="nom"  type="text" class="form-control" placeholder="Enter nom">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="degre">Degré:</label>
                <div class="col-sm-10">
                    <input #degree id="degre" type="number" class="form-control" placeholder="Enter degré">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" (click)="save(name.value, degree.value)">Submit</button>
                    <button type="button" class="btn btn-default" (click)="goBack()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>