<!--<style type="text/css" src="dist/css/map-icons.css"></style>-->
<!--<script type="text/javascript" src="dist/js/map-icons.js"></script>-->

<h1>{{ title }}</h1>

<!--plunker for help: http://plnkr.co/edit/YX7W20?p=preview-->

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="15">
    <!--<my-custom-maps-component [latitude]="lat" [longitude]="lng" [zoom]="15"></my-custom-maps-component>-->
    <!--<my-custom-maps-component></my-custom-maps-component>-->
    <custom-map test="lol"></custom-map>

    <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [iconUrl]="positionIconUrl" ></sebm-google-map-marker>

    <sebm-google-map-marker *ngFor="let marker of markers" [latitude]="marker.lat"
                            [longitude]="marker.lng" (markerClick)="clickedMarker(marker.label)">

        <sebm-google-map-info-window>
            <strong>{{marker.label}}</strong>
        </sebm-google-map-info-window>

    </sebm-google-map-marker>

</sebm-google-map>
<!--<button type="button" class="btn btn-primary"> <img id="imgPos" src="Maps-Center-Direction-icon.png"> </button>-->